@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (padding: max(0px)) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

html {
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

button {
  -webkit-tap-highlight-color: transparent;
}

input, textarea, select {
  font-size: 16px;
}
